.footer {
  width: 100%;
  padding: 20px 0;
  text-align: center;
  font-size: 14px;
  margin-top: 0px;
}

.footer.light {
  background-color: #f1f1f1;
  color: #333;
}

.footer.light a {
  color: #007bff;
  text-decoration: none;
}

.footer.light a:hover {
  text-decoration: underline;
}

.footer.dark {
  background-color: #333;
  color: #fff;
}

.footer.dark a {
  color: #0b0b0b;
  text-decoration: none;
}

.footer.dark a:hover {
  text-decoration: underline;
}

.footer.dark p {
  color: #ddbcbc !important;  
  font-size: 20px; 
}

.footer.light p {
  color: #e4d1d1 !important;  
  font-size: 20px; 
}

.footer.dark p a {
  color: #3e79b7; 
}

.footer.dark p a:hover {
  color: #3e79b7;
}
